# SPDX-License-Identifier: GPL-2.0-only
menuconfig ARCH_S5L
	bool "Samsung / Apple iPod SoCs (S5L)"
	depends on ARCH_MULTI_V5
	select CLKSRC_MMIO
	select S5L_TIMER
	select PINCTRL
	select SOC_BUS
	select GPIOLIB
	select COMMON_CLK
	select GENERIC_CLOCKEVENTS
	select GENERIC_IRQ_CHIP
	select IRQ_DOMAIN
	select MULTI_IRQ_HANDLER
	select SPARSE_IRQ

if ARCH_S5L

config MACH_S5L8702
	bool "Samsung S5L8702 SoC used in the Apple iPod Classic (6th gen)"
	select ARM_VIC

endif
