// SPDX-License-Identifier: GPL-2.0
/*
 * Samsung's S5L8702 based Apple iPod classic (6th Gen) device tree source
 *
 * Copyright 2020 Caleb Connolly <caleb@connolly.tech>
 */

/dts-v1/;

#include "s5l8702.dtsi"

/ {
	model = "Apple iPod classic (6th Gen)";
	compatible = "samsung,s5l8702", "apple,ipod6g";

	chosen {
		bootargs = "earlyprintk debug keep_bootcon early_ioremap_debug";
	};
};
