// SPDX-License-Identifier: GPL-2.0
/*
 * Samsung's S5L8702 based Apple iPod classic (6th Gen) device tree source
 *
 * Copyright 2020 Caleb Connolly <caleb@connolly.tech>
 */

/dts-v1/;

#include "s5l8702.dtsi"

/ {
	model = "Apple iPod classic (6th Gen)";
	compatible = "apple,ipod6g", "samsung,s5l8702";

    soc {
        // spi {
        //     compatible = "spi-gpio";
        //     #address-cells = <1>;
        //     #size-cells = <0>;

        //     /* Collides with IDE pins, that's cool (we do not use them) */
        //     gpio-sck = <&gpio1 5 GPIO_ACTIVE_HIGH>;
        //     gpio-miso = <&gpio1 8 GPIO_ACTIVE_HIGH>;
        //     gpio-mosi = <&gpio1 7 GPIO_ACTIVE_HIGH>;
        //     cs-gpios = <&gpio0 20 GPIO_ACTIVE_LOW>;
        //     num-chipselects = <1>;

        //     panel: display@0 {
        //         // Panel is actually ili9320
        //         compatible = "ilitek,ili9322";
        //         reg = <0>;
        //         /* 50 ns min period = 20 MHz */
        //         spi-max-frequency = <20000000>;
        //         vcc-supply = <&vdisp>;
        //         iovcc-supply = <&vdisp>;
        //         vci-supply = <&vdisp>;

        //         port {
        //             panel_in: endpoint {
        //                 remote-endpoint = <&display_out>;
        //             };
        //         };
        //     };
	    // };

        // display-controller@38300000 {
		// 	status = "okay";
        //     reg = <0x38300000 0x40>

		// 	port@0 {
		// 		reg = <0>;
		// 		display_out: endpoint {
		// 			remote-endpoint = <&panel_in>;
		// 		};
		// 	};
		// };
    };
};